.header {
  padding: 0 100px;

  .logo:before {
    content: "";
  }

}

.header ul {
  letter-spacing: 2px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.header li {
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px;

}

.header li:nth-child(2) {
  margin-left: auto;
}

.header li > a {
  text-decoration: none;
  color: black;

}