@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");

body {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 70rem;
  margin: auto;
  min-height: 80vh;
  background: grey;
}
